@font-face {
   	font-family: "Roboto";
	src: url('fonts/Roboto-Regular.ttf');
}

body {
	background:#F9FBFD;
}

.border-custom {
  border-color:#b0bec5 !important
}

.table-custom, .bg-custom {
	background: #daedfc;
}

.fs-7 {
	font-size:11px;
}

.card-header-title{
	width: 100%;
	margin-top:4px;
	margin-bottom:4px;
}

.card-header-icon {
	margin:4px;
}

.card-header {
	display:flex;
}
